*{
  font-family: 'Orbitron', sans-serif;
}


h1, h2, h3, h4, p{
  padding: 0;
  margin: 0;
}


.app-header{
  background-image: url("./components/img/bg.JPG");
  background-repeat: no-repeat;
  background-size:cover;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5% 7%;
}

.header-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img{
  transition-duration: 0.5s;
}

.logo-img:hover{
  transform: scale(1.1);
 }

.logo-text{
  margin-left: 7%;
}

.navbar-menu{
  font-size: 1.1rem;
  width: 45%;
}

a:link, a:visited{
  color: #6A6C63;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: underline;
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

 li{
  margin: auto;
  transition-duration: 0.3s;

}

li:hover{
  transform: scale(1.1);
}

.navbar-icons{
  margin-left: 10px;
  width: 15%;
  

}

.nav-icon{
  max-width: 30px;
  background-color: #C6CFC7;
  border-radius: 15px;
  border: 1px solid #C6CFC7;
  transition-duration: 0.5s;

}

.nav-icon:hover{
  transform: scale(1.2);
}

.app-body{
  padding: 0 7%;
  margin-bottom: 15%;
  
}

.promo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 12% 0;
  
  


}

.promo-img{
  width: 35%;
  border-radius: 100%;
  border: 2px solid #C6CFC7;;
  transform: rotate(1);
  transition-duration: 0.5s;
}

.promo-img:hover{
  transform: scale(1.1);
}

.promo-text{
  margin-left: 3%;
  font-size:xx-large;
  font-weight: 600;
  padding-bottom: 1%;
  border-bottom: 2px solid #C6CFC7;
  letter-spacing: 0.1rem;
}

.h2-text{
  font-size:x-large;
  margin-top: 4%;
}

.h3-text{
  color: #6A6C63 ;
  margin: 1.5% 0;
}

.h3-text-gr{
  color: #C6CFC7 ;
  margin-top: 1.5%;
}

.app-footer{
  padding: 4% 7%;
  background-color: #FFF4EE ;
}

.h2-text-gr{
  font-size:x-large;
  margin-top: 4%;
  font-size: 1.3rem;
  color:#6A6C63;
}


.foot-icon{
  max-width: 45px;
  background-color: #C6CFC7;
  border-radius: 15px;
  border: 1px solid #C6CFC7;
  transition-duration: 0.5s;
}

.foot-icon:hover{
  transform: scale(1.2);
}

.footer-icons{
  padding: 5% 0;
  

}

.footer-icons > ul> li{
  margin: auto;
}

.my-portfolio{
  margin: 6% 0;
}


.portfolio-cases{
  margin: 3% 0 8% 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  border-top: 2px solid #C6CFC7;
  border-bottom: 2px solid #C6CFC7;
  background-color: #FFF4EE ;
  padding: 0 3%;
  overflow-x: scroll;
}

.portfolio-case{
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-right:  8%;
  background-color: white ;
  padding: 2%;
  border-radius: 5px;

}

.cases-img{
  height: 15rem;
  width: 14rem;
  border-radius: 5px;
  border: 2px solid #FEECE1;
  margin: 4% 0 5% 0;
}

.cases-title{
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 4%;
}

.cases-text{
  margin: 5% 0 2% 0;

}

.cases-link{
 font-size: 0.9rem;
}


@media only screen and (max-width: 600px) {


  
  .promo-img{
    width: 50%;
    margin-bottom: 3%;
  }

  .promo{
    flex-direction: column;
    text-align: center;
    margin: 20% 0;
  }

  .promo-text{
    margin-top: 4%;
    margin-left: 3%;
    font-size:x-large;
  }
  
  .h2-text{
    font-size: 1.1rem;
  }
  
  .h3-text{
    margin-top: 1.5% 0;
    font-size: 1rem;
  }
  
  .h3-text-gr{
    font-size: 1rem;
  }
  
  .h2-text-gr{
    font-size: 1.1rem;
  }

  .navbar-menu{
    font-size: 1rem;
    width: 100%;
  }


  .navbar-icons{
    display: none;
  }

  .header-logo{
    display: none;
  }

  .portfolio-cases{
    margin: 5% 0 15% 0;
  }

  .foot-icon{
    max-width:35px;
  
  }
}